systems: [
	#'input/input'
	#'game/game'
	'decks/decks'
]

odo: domain: 'card'

run: [
	# Scout Ship
	{
		'create {displayName} card type':
			id: 'e4f4ea51-ef83-4633-b865-fc7241d2da51'
			type: 'Scout Ship'
			damage: 1
			armour: 1
			cost: 1
	}
	{ '{type} type does {damage} damage': type: 'Scout Ship', damage: 1 }
	{ '{type} type has {armour} armour': type: 'Scout Ship', armour: 1 }
	{ '{type} type costs {cost}': type: 'Scout Ship', cost: 1 }
	{
		'{type} card has been created':
			id: 'a274949b-bbdb-4786-9141-14fcca17e4b5'
			type: 'Scout Ship'
			created: '2014-04-20'
	}
	{
		'{type} card has been created':
			id: 'a5f25cab-5021-43aa-a36c-65d3fe7d96e5'
			type: 'Scout Ship'
			created: '2014-04-20'
	}
	{
		'{type} card has been created':
			id: '2b0c8927-6969-4a48-8473-ea31946d901e'
			type: 'Scout Ship'
			created: '2014-04-20'
	}
	
	# Ion Cannon
	{ '{type} type has been created': type: 'Ion Cannon' }
	{ '{type} type does {damage} damage': type: 'Ion Cannon', damage: 10 }
	{ '{type} type has {armour} armour': type: 'Ion Cannon', armour: 1 }
	{ '{type} type costs {cost}': type: 'Ion Cannon', cost: 4 }
	{
		'{type} card has been created':
			id: '03019531-55a4-450e-9e01-af8b495bf29b'
			type: 'Ion Cannon'
			created: '2014-04-20'
	}
	{
		'{type} card has been created':
			id: '3e972b1a-7905-4040-8880-770d277ef11e'
			type: 'Ion Cannon'
			created: '2014-04-20'
	}
	{
		'{type} card has been created':
			id: '9b24fef0-7060-4033-80a7-f6c17896358d'
			type: 'Ion Cannon'
			created: '2014-04-20'
	}
	
	# Aggro
	{ '{deck} deck has been created': deck: 'Aggro' }
	{
		'{deck} deck has new cards {cards}':
			deck: 'Aggro'
			created: '2014-04-20'
			cards: [
				'a274949b-bbdb-4786-9141-14fcca17e4b5'
				'a5f25cab-5021-43aa-a36c-65d3fe7d96e5'
				'03019531-55a4-450e-9e01-af8b495bf29b'
			]
	}
	
	# Control
	{ '{deck} deck has been created': deck: 'Control' }
	{
		'{deck} deck has new cards {cards}':
			deck: 'Control'
			created: '2014-04-20'
			cards: [
				'2b0c8927-6969-4a48-8473-ea31946d901e'
				'3e972b1a-7905-4040-8880-770d277ef11e'
				'9b24fef0-7060-4033-80a7-f6c17896358d'
			]
	}
	
	{ 'Game start' }
]
